body{
  background-color: hsl(0, 0%, 95%);
}

.sedan {
  background-color: hsl(31, 77%, 52%);
  width: 320px;
  height: 550px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.suv {
  background-color:hsl(184, 100%, 22%);
  width: 320px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;

}

.lux {
  background-color: hsl(179, 100%, 13%);
  width: 320px;
  height: 550px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  padding-top: 5px;
}

.h1 {
  font-family: "Big Shoulders Display";
  font-size: 50px;
  color: hsl(0, 0%, 95%);
  margin-bottom: 30px;

}

.s1 {
  padding-left: 50px;
  padding-top: 75px;
}

.p1 {
  width: 250px;
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 2;
  font-weight: 400;
}

.p2 {
  width: 250px;
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 2;
  font-weight: 400;
}

.p3 {
  width: 250px;
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 2;
  font-weight: 400;

}

.btn {
  background-color: hsl(0, 0%, 95%);
  display: inline-block;
  width: 150px;
  border-radius: 30px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
}

.btn:hover {
  background-color: white;
  color: hsl(0, 0%, 95%);
}

#btn1 {
  color: hsl(31, 77%, 52%);
}

#btn2 {
  color: hsl(184, 100%, 22%);
}

#btn3 {
  color: hsl(179, 100%, 13%);
}

/* Media query for Desktop/Laptop */


@media screen and (min-width: 992px) {

  .container {
    position: relative;
    width: 1440px;

  }

  .sedan {
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 240px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    margin-top: 0px;

  }

  .suv {
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 560px;
    padding-top: 0px;

  }

  .lux {
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 240px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    padding-top: 0px;

  }
  .s1 {
    padding-top: 50px;
  }

}
